/* Global Styles */

html,
body {
    height: 100%;
}

body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.form-control { 
	display: block; max-width: 400px; height: 30px; 
}

.form-control2 { 
	display: block; max-width: 100px; height: 30px;
}

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

/* Home Page Carousel */

header.carousel {
    height: 50%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}

/* Pricing Page Styles */

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}

/* Footer Styles */

footer {
    margin: 50px 0;
}

/* Responsive Styles */

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
}

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #777;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #f7f7f7;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #f7f7f7;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}



.tabs-right
{
    width: 270px;
    float: right;
    padding-left: 10px;
}

.tabs-left
{
    width: 650px;
    float: left;
    padding-right: 10px;
}

.maincolumn .half
{
    width: 295px;
    float: left;
}

.sidecolumn .box
{
    margin-bottom: 40px;
}

.sidecolumn .article-sidecolumn .box
{
    border-bottom: 1px solid #dadada;
}

.main-header img, .side-header img, .header-icon {
    margin-top: -5px;
}
.main-header, .side-header
{
    padding-bottom: 30px;
    border-bottom: 1px solid #eee;
}
img.profile-small
{
    width: 24px;
    height: 30px;
}

.addthis_toolbox
{
    margin: 5px;
}


.page-didyouknow
{
    color: #63790D;
}
/* jquery ui overrides */

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active
{
    font-weight: bold;
}

.ui-state-selected, .ui-state-selected .ui-state-default, .ui-state-selected .ui-state-highlight.ui-state-active
{
    /*background:url("images/ui-bg_glass_55_ffeb99_1x400.png") repeat-x scroll 50% 50% #FFEB99;*/
    background: #F4A23F;
    color: #fff;
}

.ui-slider .ui-state-default
{
    background-color: #4b86d1;
    background-image: none;
    border: none;
}

.ui-labeledslider
{
    margin-bottom: 25px;
}

    .ui-labeledslider .ui-slider-label
    {
        color: #222;
        font-size: 10px;
        text-transform: uppercase;
    }



html, body, form {
    height: 100%;
    margin: 0;
    padding: 0;
}
html.no-js .js, html.js .no-js { display:none; }

/* for Internet Explorer */
html.ie6 #page-wrapper {
    height: 100%;
}
html.ie6 #site-menu #normal-site-menu  li a:hover {
    text-decoration: underline;
}
html.ie6 img { behavior: url('/global/pngfix/iepngfix.htc'); }

.ie #site-menu #normal-site-menu  li a:hover {
    text-decoration: underline;
}


body #alternativebackground { height:214px;background: transparent url('/global/images_structure/design2012/top_bg_rightside.png') repeat-x;width:50%;position: absolute;right:0; }

body.minimize{ background-image: url("/global/images_structure/design2012/top-bg-minimized.png");padding-top: 5px; }
body.minimize #alternativebackground{ display: none; }
body.minimize #page-content{ background-image: none; }
body.minimize #page-content .page-arrow{ display: none;top: 1px; }
body.minimize form { background-image: none !important; }

html, body, form, table, fieldset, .icon-unreadcount{
    font-family: helvetica, arial, sans-serif;
    font-size: 12px;
    color: #595959;
}

h1,caption{ font-size: 26px;color: #269966;}
h2{ font-size: 16px;;color: #595959;}
h2.alt{ color: #96B031;}
h3{ font-size: 14px;color: #595959;margin-bottom: 10px;}
h3.alt, .toplistwrapper_wrapper h3, .standard-box h3, .help-box h3, .form-box h3, .standard-box h4, .help-box h4, .form-box h4 { color: #63780F;margin-bottom: 10px;}
.help-box h1, .help-box h2, .help-box h3, .help-box h4, .help-box h5, .help-text h1, .help-text h2, .help-text h3, .help-text h4, .help-text h5{ color: #7a6a0f;margin-bottom: 10px; }
h4{ font-size: 13px;color: #595959;}
h4.alt{ color: #96B031;}
h5{ font-size: 12px;color: #595959;}
h5.alt{ color: #96B031;}
.blockhead { border-bottom: 1px solid #eee;margin-bottom: 10px;}
table thead { font-size: 13px; }


p { padding-bottom: 10px;line-height: 19px; }
a, .ui-widget .ui-widget-content a { color: #FF9205; font-style: normal;text-decoration: underline;	}
a.button, .ui-widget .ui-widget-content a.button { text-decoration: none; }
a:hover, .ui-widget .ui-widget-content a:hover { text-decoration: none; }
a.go {display: block;background: url("/global/images_structure/design2012/link-go.png") no-repeat right center;padding-right: 20px;	}
strong, b, .strong { font-weight: bold; }
em, i, .em { font-style: italic; }
.structure-bottom, .structure-bottom a {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
}
.ui-tooltip {
    z-index: 9999;
}

/* global classes */
a, .cursor.pointer	{ cursor: pointer; cursor: hand; }
.float.left		    { float:left; }
.float.right	    { float:right; }
.align.left		    { text-align:left; }
.align.center	    { text-align:center; }
.align.right	    { text-align:right; }
.align.justify	    { text-align:justify; }
.position.absolute  { position:absolute;display:none; }
.clear              { clear: both; }
.hide, .hidden		{ display:none; }
.icon               { vertical-align:middle; }
.loading            { display: block;margin: 0 auto;width: 100%;background: transparent url("/global/images/ajax-loader.gif") center center;height: 50px;text-indent: -9999px; }
.value-true         { color: green; }
.value-false        { color: red; }
.text-right         { text-align: right; }
.text-left          { text-align: left; }
.text-justify       { text-align: justify; }
.nomargin           { margin: 0 !important; }
.nopadding          { padding: 0 !important; }
.nowrap             { white-space: nowrap; }
.fullwidth          { width: 100%;}



#content .standard-box,
#content .help-box,
#content .form-box,
.ui-dialog .standard-box,
.ui-dialog .help-box,
.ui-dialog .form-box {
    padding: 15px 19px;
    margin-bottom: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;    
    border: solid 1px #DFDFDF;
}

.standard-box h3, .help-box h3, .form-box h3, .standard-box h4, .help-box h4, .form-box h4 {
    padding-bottom: 5px;
}

#content .standard-box,
#content .form-box,
.ui-dialog .standard-box,
.ui-dialog .form-box {
    background-color: #F5F7E9;
}
#content .help-box,
.ui-dialog .help-box {
    background-color: #FFEBA4;
}

#content .help-box p:last-child, #content .standard-box p:last-child 
{
    padding-bottom: 0;
}

.content-main-fullwidth {
    padding-top: 20px;
}

.basesinglewrapper {
	background-color:#fff;
	border:solid 1px #eee;
    border-top: solid 0px #fff;
	min-height:500px;
	padding:40px;
    margin-top: 1px;
}



ul.menu { overflow: hidden;display: block; }
ul.menu li { padding:0;margin: 0;display: block;height: 100%; }
ul.menu li p { padding:0;margin: 0;display: block;height: 100%; }
ul.menu li a { display: block;text-decoration: none;height: 100%; }
/*ul.horizontal li { float: left;display: block; }
ul.horizontal li p { float: left;display: block; }
ul.horizontal li a { float: left;display: block; }*/

ul.standard {
	margin: 15px 0;
}

ul.standard {
	list-style-type: disc;
}
ul.standard li {
    margin-bottom: 10px;
}

ul li a .unreadcount { position: absolute; right: 0px; top: -12px;margin: 0 !important; }

/* Tables =================================================================== */
table .full{ width: 100%;}

table.standard {  width: 100%; border-spacing: 0; border-collapse:separate;border: solid 1px #E0E0E0;-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px }
table.standard thead tr { background-color: #F4A23F; }
table.standard thead tr:first-child th:first-child { -moz-border-radius-topleft:5px; -webkit-border-top-left-radius:5px; border-top-left-radius:5px; }
table.standard thead tr:first-child th:last-child { -moz-border-radius-topright:5px; -webkit-border-top-right-radius:5px; border-top-right-radius:5px; }
table.standard thead tr td, table.standard thead tr th { color: #FFF;text-transform: capitalize;  }
table.standard tr td, table.standard tr th { padding: 10px; }
table.standard tbody tr { background-color: #FFF; }
table.standard tbody tr:nth-child(even),
table.standard tbody tr.even { background-color: #FAFAFA; }
table.standard tbody tr.focus,
table.standard tbody tr.me { background-color: #F4A23F;color: #FFF; }
table.standard :last-child tr:last-child td:first-child, 
table.standard :last-child tr:last-child th:first-child { -moz-border-radius-bottomleft:5px; -webkit-border-bottom-left-radius:5px; border-bottom-left-radius:5px; }
table.standard :last-child tr:last-child td:last-child,
table.standard :last-child tr:last-child th:last-child { -moz-border-radius-bottomright:5px; -webkit-border-bottom-right-radius:5px; border-bottom-right-radius:5px; }


table.list{ width: 100%; border-spacing: 0; border-collapse: collapse;border: solid 1px #DADADA; }
table.list tr td, table.list tr th { padding: 10px; }
table.list thead tr th, table.list thead tr td { text-transform: capitalize; }
table.list tbody tr { background-color: #FFF; }
table.list tbody tr:nth-child(even),
table.list tbody tr.even { background-color: #FAFAFA; }
table.list tbody tr.focus,
table.list tbody tr.me { background-color: #F4A23F;color: #FFF; }
table.list tbody tr.focus a,
table.list tbody tr.me a { color: #FFF; }
table.list tbody tr td.usertype { background-color:#ccc;padding:0px;overflow:hidden;border-right: solid 1px #FFF; }
table.list tbody tr td.leader { background-color:#5CA3CF; }

/* Input fields =================================================================== */
input, textarea, select{ line-height: normal; vertical-align: middle }
input.textbox, input.text  { padding: 3px;font-size: 16px;  }
select.dropdownlist{ padding: 3px;font-size: 16px; }


/* buttons ======================================================= */
a.button {
    display: block;
    float: left;
}
button.button, input.button, a.button {
	color: #606060;
	border: solid 1px #b7b7b7;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
	-moz-border-radius:0.5em; 
	-webkit-border-radius:0.5em;
	border-radius:0.5em;
    line-height: normal;
	cursor:pointer;
	padding:5px 20px;
	text-decoration:none;
	vertical-align:middle;
	cursor:pointer;
	/* For Andre, this row is for the ie tramp. With padding for IE7 */
	overflow:visible;
}
button.button:hover, input.button:hover, a.button:hover {
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
	background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
button.button:active, input.button:active, a.button:active {
	color: #999;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
	background: -moz-linear-gradient(top,  #ededed,  #fff);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}

button.button.post, input.button.post, a.button.post {
    color: #e8f0de;
	border: solid 1px #538312;
	background: #64991e;
	background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
	background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}
button.button.post:hover, input.button.post:hover, a.button.post:hover {
	background: #538018;
	background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
	background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}
button.button.post:active, input.button.post:active, a.button.post:active {
	color: #a9c08c;
	background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
	background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');
}



button.button.warning, input.button.warning, a.button.warning,
button.button.delete, input.button.delete, a.button.delete {
	color: #faddde;
	border: solid 1px #980c10;
	background: #d81b21;
	background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));
	background: -moz-linear-gradient(top,  #ed1c24,  #aa1317);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317');
}
button.button.warning:hover, input.button.warning:hover, a.button.warning:hover,
button.button.delete:hover, input.button.delete:hover, a.button.delete:hover {
	background: #b61318;
	background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115));
	background: -moz-linear-gradient(top,  #c9151b,  #a11115);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9151b', endColorstr='#a11115');
}
button.button.warning:active, input.button.warning:active, a.button.warning:active,
button.button.delete:active, input.button.delete:active, a.button.delete:active {
	color: #de898c;
	background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24));
	background: -moz-linear-gradient(top,  #aa1317,  #ed1c24);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa1317', endColorstr='#ed1c24');
}

button.button.search, input.button.search, a.button.search {
    overflow: hidden;
    background: #FFF url("/global/icons/magnifier.png") no-repeat 9px 5px;
    padding-right: 12px;
    filter: none;
}
button.button.search:hover, input.button.search:hover, a.button.search:hover {
    background: #ededed url("/global/icons/magnifier.png") no-repeat 9px 5px;
    padding-right: 12px;
    filter: none;
}
button.button.search:active, input.button.search:active, a.button.search:active {
    background: #999 url("/global/icons/magnifier.png") no-repeat 9px 5px;
    padding-right: 12px;
    filter: none;
}



button.button:disabled, input.button:disabled, a.button:disabled {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity:0.5;
	opacity:0.5;
}

.btn-meny {
  color: #269966;
  background-color: #269966;
  border-color: #269966;
}

.btn-meny:active,
.btn-meny.active,
.open > .dropdown-toggle.btn-meny {
  background-image: none;
}
.btn-meny.disabled,
.btn-meny[disabled],
fieldset[disabled] .btn-meny,
.btn-meny.disabled:hover,
.btn-meny[disabled]:hover,
fieldset[disabled] .btn-meny:hover,
.btn-meny.disabled:focus,
.btn-meny[disabled]:focus,
fieldset[disabled] .btn-meny:focus,
.btn-meny.disabled.focus,
.btn-meny[disabled].focus,
fieldset[disabled] .btn-meny.focus,
.btn-meny.disabled:active,
.btn-meny[disabled]:active,
fieldset[disabled] .btn-meny:active,
.btn-meny.disabled.active,
.btn-meny[disabled].active,
fieldset[disabled] .btn-meny.active {
  background-color: #fff;
  border-color: #fff;
}
.btn-meny .badge {
  color: #fff;
  background-color: #fff;
}

/*Calendar styling*/
.ui-datepicker { 
	font-size:13.4pt !important
	}


/*Input range slider*/
input[type="range"]{
    background: #ffffff;
    width: 130px;
    height: 6px;
    -webkit-appearance: none;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -webkit-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
    -moz-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
    box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
}

input[type="range"]::-webkit-slider-thumb{
   -webkit-appearance:none !important;  
   width:25px;
   height:15px;
   -webkit-appearance: none;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border:1px solid black;

    background: #269966;
 }
