@(user: User, users:List[User])
@import play.i18n._
@mainAdmin("Admin | Dashboard", user){

<!-- Searchfield Users -->

<div id="dataset col-md-12" style="text-align: center;">
	@Messages.get("admStat.sUser"):
  	<input class="typeahead" type="text" placeholder="@Messages.get("admStat.User")" style="height: 30px; width: 200px;">
  		<a href="/findUser"><button type="button" class="btn btn-primary" style="height: 30px">@Messages.get("admStat.dispAll")</button></a>
</div>
	
<hr>

<!-- Users -->

<div class="panel panel-default">
	<div class="panel-heading">
		<h4><i class="fa fa-fw fa-user"></i> Users </h4>
	</div>

      <div class="table-responsive" style="padding:10px;">
        <table class="table-striped table-condensed table-hover col-md-12">
          <thead>
				<tr>
					<th>Username</th>
					<th>Statistics page</th>
	
				</tr>
          </thead>
          <tbody id="myTable">
          @for(u <- users){
          @if(u.isAdmin==false){
					<tr>
						<td>@u.name</td>
						<td>@helper.form(routes.AdminController.userStatistics(u.email)){<input type="submit" class="btn btn-default" value="Go to">}</td>
					</tr>
					}}
          </tbody>
        </table> 
      </div>
</div>


}