@(user: User)
@import play.i18n._
@mainAdmin("Admin | Statistics", user){

<!-- Searchfield Users -->

<div id="dataset col-md-12" style="text-align: center;">
  	<input class="typeahead" type="text" placeholder="Users" style="height: 30px; width: 200px; border: solid;">
  		<button type="button" class="btn btn-primary" style="height: 30px">@Messages.get("admStat.dispAll")</button>
</div>
	
<hr>

<!-- Moduletracker -->

<div class="panel panel-default">
	<div class="panel-heading">
		<h4><i class="fa fa-fw fa-bar-chart-o"></i> @Messages.get("admStat.mtracker") </h4>
	</div>

      <div class="table-responsive" style="padding:10px;">
        <table class="table-striped table-condensed table-hover col-md-12">
          <thead>
				<tr>
					<th>@Messages.get("admStat.name")</th>
					<th>@Messages.get("admStat.desc")</th>
					<th>@Messages.get("admStat.click")</th>
	
				</tr>
          </thead>
          <tbody id="myTable">
					<tr>
						<td>Name of the Module</td>
						<td>Description of the Module</td>
						<td>Amount of Clicks on the Module</td>
					</tr>
          </tbody>
        </table> 
      </div>
</div>
	

}