
@@(pageTitle: String) 

 @layouts.calendarLayout("Full calendar") { 

<!doctype html>

<html lang="en">

<head>

  <meta charset="utf-8">

  <title>jQuery UI Datepicker - Default functionality</title>

  <link href="@routes.Assets.at("stylesheets/jquery-ui.css")" rel="stylesheet">

  <script src="@routes.Assets.at("javascripts/jquery-1.10.2.js")"></script>
  <script src="@routes.Assets.at("javascripts/jquery-ui.js")"></script>

  <link href="@routes.Assets.at("stylesheets/style.css")" rel="stylesheet>

  <script>

  $(function() {

    $("#datepicker").datepicker();

  });

  </script>

</head>

<body>

 
<p>Date: <input type="text" id="datepicker"></p>

}