@(user: User)
@import play.i18n._
@mainAdmin("Admin | Survey", user){
<div class="container">

    <h1>@Messages.get("creSurv.title")</h1>

			@helper.form(routes.AdminController.createSurvey) {
			<label class="control-label">@Messages.get("survey.name"):</label>
            <input class="form-control" type="text">
			<br>
			<label class="control-label">@Messages.get("creSurv.q1"):</label>
              <input class="form-control" type="text" name="question1">
              <br>
              @Messages.get("creSurv.o1"):
              <input type="text" name="option1_1">
              <br>
              @Messages.get("creSurv.o2"):
              <input type="text" name="option2_1">
              <br>
              @Messages.get("creSurv.o3"):
              <input type="text" name="option3_1">              
             <br>
             <br>
             <label class="control-label">@Messages.get("creSurv.q2"):</label>
              <input class="form-control" type="text" name="question2">
              <br>
              @Messages.get("creSurv.o1"):
              <input type="text" name="option1_2">
              <br>
              @Messages.get("creSurv.o2"):
              <input type="text" name="option2_2">
              <br>
              @Messages.get("creSurv.o3"):
              <input type="text" name="option3_2">              
             <br>
             <br>
             <label class="control-label">@Messages.get("creSurv.q3"):</label>
              <input class="form-control" type="text" name="question3">
              <br>   
              @Messages.get("creSurv.o1"):
              <input type="text" name="option1_3">
              <br>
              @Messages.get("creSurv.o2"):
              <input type="text" name="option2_3">
              <br>
              @Messages.get("creSurv.o3"):
              <input type="text" name="option3_3">  
             <br>          
             <br>
             <label class="control-label">@Messages.get("creSurv.q4"):</label>
              <input class="form-control" type="text" name="question4">
              <br>
              @Messages.get("creSurv.o1"):
              <input type="text" name="option1_4">
              <br>
              @Messages.get("creSurv.o2"):
              <input type="text" name="option2_4">
              <br>
              @Messages.get("creSurv.o3"):
              <input type="text" name="option3_4"> 
              <br>              
             <br>
             <label class="control-label">@Messages.get("creSurv.q5"):</label>
              <input class="form-control" type="text" name="question5"> 
              <br>
              @Messages.get("creSurv.o1"):
              <input type="text" name="option1_5">
              <br>
              @Messages.get("creSurv.o2"):
              <input type="text" name="option2_5">
              <br>
              @Messages.get("creSurv.o3"):
              <input type="text" name="option3_5">
  

			<br>
			<br>
            <label class="control-label"></label>
              <button style="width:120px" class="btn btn-primary" type="submit">@Messages.get("profile.savechanges")</button>
              <span></span>
              <a href="/survey"><button style="width:120px" class="btn btn-default" >@Messages.get("profile.cancel")</button></a>
			}
</div>
}