@(user: User)
@import play.i18n._
@mainAdmin("Admin | Survey", user){
<div class="container">

    <h1>@Messages.get("creSurv.title")</h1>


            <label class="control-label">@Messages.get("creSurv.q1"):</label>
              <input class="form-control" type="text">
              <br>
              Option 1:
              <input type="text" name="1option1">
              <br>
              Option 2:
              <input type="text" name="1option2">
              <br>
              Option 3:
              <input type="text" name="1option3">              
             <br>
             <br>
             <label class="control-label">@Messages.get("creSurv.q2"):</label>
              <input class="form-control" type="text">
              <br>
              Option 1:
              <input type="text" name="2option1">
              <br>
              Option 2:
              <input type="text" name="2option2">
              <br>
              Option 3:
              <input type="text" name="2option3">              
             <br>
             <br>
             <label class="control-label">@Messages.get("creSurv.q3"):</label>
              <input class="form-control" type="text">
              <br>   
              Option 1:
              <input type="text" name="3option1">
              <br>
              Option 2:
              <input type="text" name="3option2">
              <br>
              Option 3:
              <input type="text" name="3option3">  
             <br>          
             <br>
             <label class="control-label">@Messages.get("creSurv.q4"):</label>
              <input class="form-control" type="text">
              <br>
              Option 1:
              <input type="text" name="4option1">
              <br>
              Option 2:
              <input type="text" name="4option2">
              <br>
              Option 3:
              <input type="text" name="4option3"> 
              <br>              
             <br>
             <label class="control-label">@Messages.get("creSurv.q5"):</label>
              <input class="form-control" type="text">
              <br>
              Option 1:
              <input type="text" name=5option1">
              <br>
              Option 2:
              <input type="text" name="5option2">
              <br>
              Option 3:
              <input type="text" name="5option3"> 
  

			<br>
			<br>
            <label class="control-label"></label>
              <button style="width:120px" class="btn btn-primary" type="submit">@Messages.get("profile.savechanges")</button>
              <span></span>
              <a href="/survey"><button style="width:120px" class="btn btn-default" >@Messages.get("profile.cancel")</button></a>
</div>
}