@(user: User, tips: List[Tips], dailySteps:Double, goals: List[Goal], leaderboard: Map[User, Integer], activities: List[UserActivity], morrisDonut: Map[String, Integer], topLeaderboard: Map[User, Integer])
@import play.i18n._
@main(user, "Dashboard | PushMe", activities, leaderboard, topLeaderboard) {
    
<!-- Container auto-aligns carousel -->
<br>

<div class = "container col-sm-12 col-md-12 col-lg-12">    
	<div id="tip-carousel" class="carousel slide" data-ride="carousel">
    	<div class="row">
	        <div class="col-md-8 col-md-offset-4 col-xs-offset-3" style="text-align:center">
	            <div class="carousel-inner">
	                <div class="item active">
	                	<div class="carousel-content"  style="height: 64px">
	        	    		<div>
	                    		<h4><b>@Messages.get("dash.welcome")</b></h4>
	                    	</div>
	                	</div>
	                </div>
	                @for(t <- tips) {
	          	     	<div class="item">
	            	       	<div class="carousel-content"  style="height: 64px">
	        	    	       	<div>
	        	    	       	
	        	    	       		<h5><b>@Messages.get("dash.tips"):</b></h5>
	                    	       	<h4><i>@t.tip</i></h4>
	                    	    
	                    	   	</div>
	                  		</div>
	                  	</div>
	                }
            	</div>
        	</div>
    	</div>
   		<!-- Controls -->
   		<a class="left carousel-control" href="#tip-carousel" data-slide="prev">
   			<span class="glyphicon glyphicon-chevron-left"></span>
 		</a>
		<a class="right carousel-control" href="#tip-carousel" data-slide="next">
   			<span class="glyphicon glyphicon-chevron-right"></span>
 		</a>

	</div>
</div>

<hr>

<!-- Morris donut -->
<div class = "container col-sm-12 col-md-12 col-lg-12">
		    <h3>@Messages.get("dash.youract")!</h3>

			<div id="user_activity-donut" class = "graph" ></div>
</div>
	
<hr>

<!-- Step count progress bars -->
<div class ="container col-sm-12 col-md-12 col-lg-12">
	<div id="monitor" class="panel panel-default tab-box">
	    <div class="panel-heading" style="height: 60px">
		     <h3 class="panel-title" style = "margin-bottom: 5px">
		        <i class="fa fa-flag"></i>
		        @Messages.get("dash.stepsc")
		    </h3>
		    <ul class="nav nav-tabs" role="tablist">
		        <!-- Week tab -->
		        <li class="active"> <a href="#week-tab" role="tab" data-toggle="tab">@Messages.get("dash.week")</a></li>
		        <!-- Month tab -->
		        <li> <a href="#month-tab" role="tab" data-toggle="tab">@Messages.get("dash.month")</a></li>
	            <!-- Year -->
	            <li> <a href="#year-tab" role="tab" data-toggle="tab">@Messages.get("dash.year")</a></li>
	        </ul>
	    </div>
	   
	        <div class="tab-content">
	            <div id="week-tab" role="tabpanel" class="tab-pane active">
	                <div class="row" style="margin: 10px">
					
					<div id="week_step-line" class = "graph" ></div>
					
	                </div>
	            
	            </div>
	            <div id="month-tab" role="tabpanel" class="tab-pane active">
	                <div class="row" style="margin: 10px">
	                
	                <div id="month_step-line" class = "graph" ></div>
	                
	                </div>
	            </div>
	            
	            <div id="year-tab" role="tabpanel" class="tab-pane active">
	                <div class="row" style="margin: 10px">
	               
	               		<div id="year_step-line" class = "graph" ></div>
	                
	               	</div>
	            </div>
	        </div>
	</div>
</div>

<hr>

<!-- Overview panels -->
<div class = "container col-sm-12 col-md-12 col-lg-12">
<!-- Goal Panel -->	
           <div class="col-md-4">
               <div class="panel panel-default">
                   <div class="panel-heading">
                       <h4><i class="fa fa-fw fa-bullseye"></i> @Messages.get("dash.goals") </h4>
                   </div>
                   <div class="panel-body"> 
                   @for(goal <- goals) {
                  		<p>@Messages.get("dash.goalperiod") @goal.start.format("dd MMM") @Messages.get("dash.to") @goal.end.format("dd MMM") @Messages.get("dash.is") <label>@goal.steps</label></p>
                   }
                   <br>
                   </div>
               </div>
           </div>
   			<!-- Recent activities -->	
           <div class="col-md-4">
               <div class="panel panel-default">
                   <div class="panel-heading">
                       <h4><i class="fa fa-fw fa-bicycle"></i> @Messages.get("main.dayact") </h4>
                   </div>
                   <div class="panel-body">
                   
						<table class="table-striped table-condensed table-hover">
							<tr>
								<th>@Messages.get("main.date")</th>
						    	<th>@Messages.get("main.act")</th>
						    	<th>@Messages.get("main.steps")</th>
						    	<th></th>
						  	</tr>
						    @for(a <- activities) {
						   	@helper.form(routes.DashboardController.deleteUA(a.id)) {
						    	<tr>
						    		<td style="width:30%">@a.date.format("dd MMM")</td>
						    		<td style="width:30%">@a.activity.name</td>
						    		<td style="width:30%">@a.steps</td>
						    		<td>
						    		<button type="submit" style="background-color:#FF6666"><i class="fa fa-trash-o"></i></button>
						    		</td>
						    		</tr>
						    }}
						</table>

                       </p>
                   </div>
               </div>
			</div>
   			<!-- Leaderboard -->	 
			<div class="col-md-4">
            	<div class="panel panel-default">
                	<div class="panel-heading">
                   		<h4><i class="fa fa-fw fa-trophy"></i> @Messages.get("main.lboard") </h4>
                	</div>
                	<div class="panel-body" >                	
                		<table class="table-striped table-condensed table-hover">
							<tr>
								<th>@Messages.get("main.uname")</th>
						    	<th>@Messages.get("dash.trophies")</th>
						  	</tr>
						    @for((leaderboardUser, score) <- topLeaderboard) {
						    	<tr>
						    		<td style="width:30%">@leaderboardUser.name</td>
						    		<td style="width:30%">@score x<i class="fa fa-fw fa-trophy"></i></td>
						    		</tr>
						    }
						</table>
						<br>
						<form action="/leaderboard">
    							<button type="submit" style="height: 30px; text-align: center; margin-left: auto; margin-right: auto; display: block;">@Messages.get("dash.comprank")</button>
    					</form>
                	</div>
            	</div>
        	</div>
    	</div>
<hr>    

<script type="text/javascript">
$.getScript('https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js',function(){
$.getScript('https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js',function(){

	var donutData = [];
	var weekLineData = [];
	var monthLineData = [];
	var yearLineData = [];
	
	@for((activity, steps) <- morrisDonut) {
		donutData.push({label: '@activity', value: @steps});
	}
	
	var i = 0;
	@for(i <- 0 to 1) {
		weekLineData.push({ y: '2006', a: 1, b: 7 });
		weekLineData.push({ y: '2007', a: 2,  b: 6 });
		weekLineData.push({ y: '2008', a: 3,  b: 5 });
		weekLineData.push({ y: '2009', a: 4,  b: 4 });
		weekLineData.push({ y: '2010', a: 5,  b: 3 });
		weekLineData.push({ y: '2011', a: 6,  b: 2 });
		weekLineData.push({ y: '2012', a: 7, b: 1 });
	}
	
		Morris.Donut({
	        element: 'user_activity-donut',
	        data: donutData
	    });
		
		Morris.Line({
			element: 'week_step-line',
			  data: weekLineData,
			  xkey: 'y',
			  ykeys: ['a', 'b'],
			  labels: ['Series A', 'Series B']
		});
 
		Morris.Line({
			element: 'month_step-line',
			  data: [
			    { y: '2006', a: 100, b: 1 },
			    { y: '2007', a: 4,  b: 2 },
			    { y: '2008', a: 50,  b: 3 },
			    { y: '2009', a: 75,  b: 65 },
			    { y: '2010', a: 50,  b: 32 },
			    { y: '2011', a: 75,  b: 12 },
			    { y: '2012', a: 100, b: 5 }
			  ],
			  xkey: 'y',
			  ykeys: ['a', 'b'],
			  labels: ['Series A', 'Series B']
		});
 
		Morris.Line({
			element: 'year_step-line',
			  data: [
			    { y: '2006', a: 1, b: 90 },
			    { y: '2007', a: 3,  b: 65 },
			    { y: '2008', a: 8,  b: 40 },
			    { y: '2009', a: 16,  b: 65 },
			    { y: '2010', a: 24,  b: 40 },
			    { y: '2011', a: 38,  b: 65 },
			    { y: '2012', a: 51, b: 90 }
			  ],
			  xkey: 'y',
			  ykeys: ['a', 'b'],
			  labels: ['Series A', 'Series B']
		});
});
});
</script>
}
