@(user: User, tips: List[Tips], dailySteps:Double, goals: List[Goal])

@main(user, "Dashboard | PushMe") {
    
<!-- Container auto-aligns carousel -->
<br>

<div class = "container col-sm-12 col-md-12 col-lg-12">    
	<div id="tip-carousel" class="carousel slide" data-ride="carousel">
    	<div class="row">
	        <div class="col-md-8 col-md-offset-4 col-xs-offset-3" style="text-align:center">
	            <div class="carousel-inner">
	                <div class="item active">
	                	<div class="carousel-content" style="height: 64px">
	        	    		<div>
	                    		<h4><b>Welcome to the Dashboard</b></h4>
	                    	</div>
	                	</div>
	                </div>
	                @for(t <- tips) {
	          	     	<div class="item">
	            	       	<div class="carousel-content" style="height: 64px">
	        	    	       	<div>
	        	    	       	
	        	    	       		<h5><b>Tips for a healthy lifestyle:</b></h5>
	                    	       	<h4><i>@t.tip</i></h4>
	                    	    
	                    	   	</div>
	                  		</div>
	                  	</div>
	                }
            	</div>
        	</div>
    	</div>
   		<!-- Controls -->
   		<a class="left carousel-control" href="#tip-carousel" data-slide="prev">
   			<span class="glyphicon glyphicon-chevron-left"></span>
 		</a>
		<a class="right carousel-control" href="#tip-carousel" data-slide="next">
   			<span class="glyphicon glyphicon-chevron-right"></span>
 		</a>

	</div>
</div>

<hr>

<!-- Morris donuts -->
<div class = "container">
	<div class="col-sm-5">
		<div class="col-md-10">
		    <h3>Your activities!</h3>  
		</div>
		<div class="col-md-10">
			<div id="user_activity-donut" class = "graph" ></div>
		</div>
	</div>
	<div class="col-sm-5">
		<div class="col-md-10">
			<h3>What others do!</h3>  
		</div>
		<div class="col-md-10">
			<div id="global_activity-donut" class = "graph" ></div>
		</div>
	</div>
</div>
	
<hr>

<!-- Step count progress bars -->
<div class ="container col-sm-12 col-md-12 col-lg-12">
	<div id="monitor" class="panel panel-default tab-box">
	    <div class="panel-heading" style="height: 60px">
		     <h3 class="panel-title" style = "margin-bottom: 5px">
		        <i class="fa fa-flag"></i>
		        Steps count
		    </h3>
		    <ul class="nav nav-tabs">
		        <!-- Week tab -->
		        <li class="active"> <a href="#week-tab" data-toggle="tab" data-identifier="line">Week</a></li>
		        <!-- Month tab -->
		        <li> <a href="#month-tab" data-toggle="tab" data-identifier="bar2">Month</a></li>
	            <!-- Year -->
	            <li> <a href="#year-tab" data-toggle="tab" data-identifier="bar3">Year</a></li>
	        </ul>
	    </div>
	    <div class="panel-body">
	        <div class="tab-content">
	            <div id="week-tab" class="tab-pane active">
	                <div class="row" style="margin-left: 10px">
	                	@helper.form(routes.DashboardController.generateDailyBar()) {
						<input type="date" name="date" />

					<input type="submit" />
					} @dailySteps
					
					<div id="week_step-line" class = "graph" ></div>
					
	                </div>
	            
	            </div>
	            <div id="month-tab" class="tab-pane active">
	                <div class="row" style="margin-left: 10px">
	                
	                <div id="month_step-line" class = "graph" ></div>
	                
	                </div>
	            </div>
	            
	            <div id="year-tab" class="tab-pane active">
	                <div class="row" style="margin-left: 10px">
	               
	               		<div id="year_step-line" class = "graph" ></div>
	                
	               	</div>
	            </div>
	        </div>
	    </div>
	</div>
</div>

<hr>

<!-- Overview panels -->
<div class = "container col-sm-12 col-md-12 col-lg-12">
<!-- Goal Panel -->	
           <div class="col-md-4">
               <div class="panel panel-default">
                   <div class="panel-heading">
                       <h4><i class="fa fa-fw fa-bullseye"></i> Goals </h4>
                   </div>
                   <div class="panel-body" style="height: 110px">
                       <p> 
                       	@for(goal<- goals) {
                       		@goal.steps
                       		<br>
                       	}
                       </p>
                   </div>
               </div>
           </div>
   			<!-- Recent activities -->	
           <div class="col-md-4">
               <div class="panel panel-default">
                   <div class="panel-heading">
                       <h4><i class="fa fa-fw fa-bicycle"></i> Your recent activities </h4>
                   </div>
                   <div class="panel-body" style="height: 110px">
                       <p>
                       	Went for a walk -> 75 min
                       </p>
                   </div>
               </div>
			</div>
   			<!-- Leaderboard -->	 
			<div class="col-md-4">
            	<div class="panel panel-default">
                	<div class="panel-heading">
                   		<h4><i class="fa fa-fw fa-trophy"></i> Leaderboards </h4>
                	</div>
                	<div class="panel-body" style="height: 110px">
                    	<p>
                       		Fill the leaderboards
                    	</p>
                	</div>
            	</div>
        	</div>
    	</div>
<hr>    

</script>
}
