@(user: User, leaderboard: Map[User, Integer], activities:List[UserActivity], topLeaderboard: Map[User, Integer])
@main(user, "Leaderboard | PushMe", activities, leaderboard, topLeaderboard) {
<br>
<div class="panel panel-default">
	<div class="panel-heading">
		<h4><i class="fa fa-fw fa-trophy"></i> Leaderboard </h4>
	</div>
		<div class="panel-body" >                	
			<table class="table-striped table-condensed table-hover">
				<tr>
					<th>Username</th>
					<th>Trophies</th>
					<th>Average Steps</th>
				</tr>
					@for((leaderboardUser, score) <- leaderboard) {
						<tr>
							<td style="width:100%">@leaderboardUser.name</td>
							<td style="width:100%">@score x<i class="fa fa-fw fa-trophy"></i></td>
							<td style="widht:100%">Average Steps Here</td>
						 </tr>
							}
			</table>
    	</div>
</div>
}