@(form: Form[Application.Login])


<html>
    <head>
        <title>PushMe | Log in</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/login.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
    </head>
    <body>
        	
	<div class="container" style="margin-top:40px">
		<div class="row">
			<div class="col-sm-6 col-md-4 col-md-offset-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<strong> Sign in to continue</strong>
									@if(form.hasGlobalErrors) {
					    <p style="color:red;" class="error">
					        @form.globalError.message
					    </p>
						}
						@if(flash.contains("success")) {
					    <p style="color:green;" class="success">
					        @flash.get("success")
					    </p>
						}
					</div>
					<div class="panel-body">
						@helper.form(routes.Application.authenticate) {
							<fieldset>								
								<div class="row">
									<div class="col-sm-12 col-md-10  col-md-offset-1 ">
										<div class="form-group">
											<div class="input-group">
												<span class="input-group-addon">
													<i class="glyphicon glyphicon-user"></i>
												</span> 
												<input class="form-control" placeholder="Email" name="email" type="text" autofocus>
											</div>
										</div>
										<div class="form-group">
											<div class="input-group">
												<span class="input-group-addon">
													<i class="glyphicon glyphicon-lock"></i>
												</span>
												<input class="form-control" placeholder="Password" name="password" type="password" value="">
											</div>
										</div>
										<div class="form-group">
											<input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign in">
										</div>
									</div>
								</div>
							</fieldset>
						}
					</div>
					<div class="panel-footer ">
						Don't have an account? <a href="/signup" onClick=""> Sign Up Here </a>
					</div>
                </div>
			</div>
		</div>
	</div>
    
    </body>
</html>

