@(user: User, title: String, activities: List[UserActivity], userSteps: List[UserSteps], leaderboard: Map[User, Integer], topLeaderboard: Map[User, Integer])(content: Html)
@import play.i18n._		
<!DOCTYPE html>
<html lang="en">

	<head>
		<title>@title</title>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="">
	    <meta name="author" content="">
	
	    <link rel="shortcut icon" href="@routes.Assets.at("images/sintef-logo.gif")" />
	    <!-- Bootstrap Core CSS -->
	    <link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet">
	    <!-- Custom CSS -->
	    <link href="@routes.Assets.at("stylesheets/jquery-ui-1.9.2.custom.css")" rel="stylesheet">
	    <!-- Custom css -->
	    <link href="@routes.Assets.at("stylesheets/pushme.css")" rel="stylesheet">
	    <!-- Custom Fonts -->
	    <link href="@routes.Assets.at("fonts/font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css">
		<!-- Dashboard CSS -->
		<link href="@routes.Assets.at("stylesheets/dashboard.css")" rel="stylesheet">
		<!-- jQuery -->
    	<script src="@routes.Assets.at("javascripts/jquery.js")"></script>
		<!-- Bootstrap Core JavaScript -->
 	   	<script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
 	   	 <!-- Calendar Javascripts -->
		<script src="@routes.Assets.at("javascripts/jquery-ui-1.9.2.custom.js")"></script>
		<!-- Div javascripts for the project -->
		<script src="@routes.Assets.at("javascripts/pushme.js")"></script>
		<!-- Dashboard javascript -->
   		<script src="@routes.Assets.at("javascripts/dashboard.js")"></script>
   		<!-- Progress bar js -->
   		<script src="@routes.Assets.at("javascripts/multi-step-modal.js")"></script>
   		<!-- Custom js for table pagination -->
		<script src="@routes.Assets.at("javascripts/pagination.js")"></script>
	    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	    <!--[if lt IE 9]>
	        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->	    
	
	</head>
	
	<body>
	
	    <!-- Navigation -->
	    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background-color:#269966">
	        <div class="container">
	            <!-- Brand and toggle get grouped for better mobile display -->
	            <div class="navbar-header">
	                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                </button>
					<div style="margin-top:13px;">
						<a href="/dashboard"><img src="@routes.Assets.at("images/sintef-logo-white.png")"/></a>
					</div>
	            </div>
	            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	                <ul class="nav navbar-nav navbar-right">
	                	<li>
	                		<a onmouseover="this.style.backgroundColor='';this.style.backgroundColor='#2DAF75'" onmouseout="this.style.color='white';this.style.backgroundColor=''" href="dashboard" class="btn-meny" style="color:white;" >@Messages.get("main.stats")</a>
	                	</li>
	                    <li>
							<a onmouseover="this.style.backgroundColor='';this.style.backgroundColor='#2DAF75'" onmouseout="this.style.color='white';this.style.backgroundColor=''" href="useractivity" class="btn-meny" style="color:white;" >@Messages.get("main.actconv")</a>
	                    </li>
	                    <li>
							<a onmouseover="this.style.backgroundColor='';this.style.backgroundColor='#2DAF75'" onmouseout="this.style.color='white';this.style.backgroundColor=''" href="statistics" class="btn-meny" style="color:white;" >@Messages.get("main.statistics")</a>
	                    </li>
	                    <li>
	                        <a onmouseover="this.style.backgroundColor='';this.style.backgroundColor='#2DAF75'" onmouseout="this.style.color='white';this.style.backgroundColor=''" href="profile" style="color:white;font-weight:900; text-transform: capitalize;">@user.name</a>
	                    </li>
	                    <li>
	                        <a onmouseover="this.style.backgroundColor='';this.style.backgroundColor='#2DAF75'" onmouseout="this.style.color='white';this.style.backgroundColor=''" href="logout" class="btn-meny" style="color:white;" >@Messages.get("main.logout")</a>
	                    </li>
	                </ul>
	            </div>
	          </div>
	            <!-- /.navbar-collapse -->
			</nav>

	    <!-- /.container -->
	    <div class="col-sm-3 col-md-3 col-lg-3" style="margin-top:70px;">
	    
				<div id="datepicker"></div>		
						
				<br>
            	<div class="panel panel-default">
                	<div class="panel-heading">
                   		<h4><i class="fa fa-fw fa-bicycle"></i> @Messages.get("main.dayact") </h4>
                	</div>
                	<div class="panel-body">
                	@if(userSteps.isEmpty) {
					  @Messages.get("main.nopedo") <i class="fa fa-smile-o fa-spin"></i><br><hr>
					} else {
                      	<table id="daily-pedo-table" class="table-striped table-condensed table-hover">
						<tr>
							<th>@Messages.get("main.date")</th>							
					    	<th>@Messages.get("main.act")</th>
					    	<th>@Messages.get("main.steps")</th>
					    	<th></th>
					  	</tr>
					    @for(a <- userSteps) {
					    	<tr>
					    		<td style="width:20%"><div class="pedo-@a.date.format("yyyy-MM-dd") daily-pedo">@a.date.format("dd MMM")</div></td>
					    		<td style="width:40%">Walking</td>
					    		<td style="width:30%">@a.steps</td>
					    		<td>
					    		<button style="background-color:#FF6666" onclick="deletePedo(@a.id)"><i class="fa fa-trash-o"></i></button>
					    		</td>
					    		</tr>
					    }
					</table>
					<hr>
					}
                	@if(activities.isEmpty) {
					  @Messages.get("main.noact") <i class="fa fa-smile-o fa-spin"></i>
					} else {
                      	<table id="daily-activity-table" class="table-striped table-condensed table-hover">
						<tr>
							<th>@Messages.get("main.date")</th>
					    	<th>@Messages.get("main.act")</th>
					    	<th>@Messages.get("main.steps")</th>
					    	<th></th>
					  	</tr>
					    @for(a <- activities) {
					    	<tr>
					    		<td style="width:20%"><div class="@a.date.format("yyyy-MM-dd") daily-activity">@a.date.format("dd MMM")</div></td>
					    		<td style="width:40%">@a.activity.name</td>
					    		<td style="width:30%">@a.steps</td>
					    		<td>
					    		<button style="background-color:#FF6666" onclick="deleteUA(@a.id)"><i class="fa fa-trash-o"></i></button>
					    		</td>
					    		</tr>
					    }
					</table>
					}

                	</div>
            	</div>
            	
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-fire"></i> @Messages.get("main.calories") </h4>
                    </div>
                    <div class="panel-body">
                        <p> 
                        	Calories burned today goes here.
                        </p>
                    </div>
                </div>
 
				<div class="panel panel-default">
                	<div class="panel-heading">
                   		<h4><i class="fa fa-fw fa-trophy"></i> @Messages.get("main.lboard") </h4>
                	</div>
                	<div class="panel-body">
                		<table class="table-striped table-condensed table-hover">
							<tr>
								<th>@Messages.get("main.uname")</th>
						    	<th>@Messages.get("dash.trophies")</th>
						  	</tr>
						    @for((leaderboardUser, score) <- topLeaderboard) {
						    	<tr>
						    		<td style="width:30%">@leaderboardUser.name</td>
						    		<td style="width:30%">@score x<i class="fa fa-fw fa-trophy"></i></td>
						    		</tr>
						    }
						</table>
						<br>
						<form action="leaderboard">
    							<button type="submit" style="height: 30px; text-align: center; margin-left: auto; margin-right: auto; display: block;">@Messages.get("dash.comprank")</button>
						</form>
                	</div>
            	</div>
		</div>
		
		

	    <div class="col-sm-7 col-md-7 col-lg-7 col-lg-offset-1" style="margin-top:50px">
			@content
      	</div>
      	<!-- Footer -->
        <div id="footer">
      		<div class="container" style="text-align: center">
      			<hr>
        		<p class="text-muted credit">&copy;PushMe 2015</p>
        		<p>Developed by: NTNU, IT2901. Emil, Erik, Itishree, Ivar and Robin.</p>
        		<p>
        		<i class="fa fa-fw fa-twitter fa-2x"></i>
        		<i class="fa fa-fw fa-facebook fa-2x"></i>
        		<i class="fa fa-fw fa-instagram fa-2x"></i>
        		<i class="fa fa-fw fa-envelope fa-2x"></i>
      		</div>
    	</div>
	    
	</body>
</html>
