@(user: User, userinfo: Userinformation, userForm: Form[User], userinfoForm: Form[Userinformation], al:List[ActivityLevel])

@main(user,"Profile info") {

<!-- Form Name -->

<legend>Profile Information</legend>

<div class="container">

    <h1>Edit Profile</h1>

@helper.form(routes.ProfileController.updateUserInfo()){
          <div class="form-group">
            <label class="col-lg-3 control-label">Name:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="@userinfo.name" name="name"  
                id="username" autocomplete="off" required
                data-bv-notempty-message="The firstname and last name of the user is required">
            </div>
          </div>
         
          <div class="form-group">
            <label class="col-lg-3 control-label">Weight(in kgs):</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="@userinfo.weight" name="weight">
            </div>
          </div>            
           <div class="form-group">
            <label class="col-lg-3 control-label">Height(in cm):</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="@userinfo.height" name="height">
            </div>
          </div>
            <div class="control-group">
             <label class="control-label" for="current_al">Current ActivityLevel</label>
               <div class="controls">
                 <select name="current_al" class="input-medium" id="current_al">
                 @for(level <- al){
                  <option>@level.description</option>
                }
              </select>
           </div>
        </div>
              <div class="control-group">
                <label class="control-label" for="target_al">Target ActivityLevel</label>
                    <div class="controls">
                      <select name="target_al" class="input-medium" id="target_al">
                        @for(level <- al){
                          <option>@level.description</option>
                        }
                      </select>
                    </div>
                  </div>

            <div class="col-md-8">
              <input class="btn btn-primary" type="submit" value="Save Changes">
            </div>


}
@helper.form(routes.ProfileController.updateUser()){
          <div class="form-group">
            <label class="col-lg-3 control-label">Email:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="@user.email">
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-3 control-label">Username:</label>
            <div class="col-md-8">
              <input class="form-control" type="text" value="ale">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Password:</label>
            <div class="col-md-8">
              <input class="form-control" type="password" value="@user.password" name="password">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Confirm password:</label>
            <div class="col-md-8">
              <input class="form-control" type="password" value="@user.password">
            </div>
          </div>
                    <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <input class="btn btn-primary" type="submit" value="Save Changes">
              <span></span>
              <a href="/dashboard"><input class="btn btn-default" value="Cancel"></a>
            </div>
          </div>
      </div>
  </div>
</div>
}
}