@(user: User, userForm: Form[User], al:List[ActivityLevel], activities: List[UserActivity], userSteps: List[UserSteps], leaderboard: Map[User, Integer], topLeaderboard: Map[User, Integer])
@import play.i18n._
@main(user,"Profile | PushMe", activities, userSteps, leaderboard, topLeaderboard) {


<div class="container">

    <h1>@Messages.get("profile.title")</h1>
 <!-- 
        <div class="column two-thirds">
            <dl class="form edit-profile-avatar">
  				<dt><label for="upload-profile-picture">Profile picture</label></dt>
  					<dd class="avatar-upload-container clearfix">
    					<img alt="" class="avatar left" data-user="" height="200" src="" width="200" />
    	<div class="avatar-upload">
      		<a href="#" class="btn">
       			 <label for="upload-profile-picture">
        			Upload new picture
          				<input id="upload-profile-picture" type="file" class="manual-file-chooser js-manual-file-chooser js-avatar-field">
        		</label>
      		</a>
  					</dd>
			</dl>
		</div>  -->
		
@helper.form(routes.ProfileController.updateUser()){

            <label class="control-label">@Messages.get("profile.email"):</label>
              <input disabled class="form-control" type="email" value="@user.email" name="email">              
             <br>
            <label class="control-label">@Messages.get("profile.pass"):</label>
              <input class="form-control" type="password" value="@user.password" name="password">
			<br>
            <label class="control-label">@Messages.get("profile.confpass"):</label>
              <input class="form-control" type="password" value="@user.password">
            <label class="control-label">@Messages.get("profile.name"):</label>
			<br>
              <input class="form-control" type="text" value="@user.name" name="name"  
                id="username" autocomplete="off" required
                data-bv-notempty-message="The firstname and last name of the user is required">
       		<br>
            <label class="control-label">@Messages.get("profile.weight"):</label>
              <input class="form-control2" type="text" value="@user.weight" name="weight">
            <br>
            <label class="control-label">@Messages.get("profile.height"):</label>
			<br>
              <input class="form-control2" type="text" value="@user.height" name="height">
              <br>
              <div class="control-group">
			  <label class="control-label" for="gender">@Messages.get("profile.gender")</label>
			  <div class="controls">
			    <select name="gender" class="input-medium" id="current_al">
			    @if(user.gender=="male"){
			    <option selected>@Messages.get("profile.male")</option>
			    <option>@Messages.get("profile.female")</option>
			    }
			    @if(user.gender=="female"){
			    <option>@Messages.get("profile.male")</option>
			    <option selected>@Messages.get("profile.female")</option>
			    }
			  	</select>
			  </div>
			</div>
			<br>
			<div class="control-group">
			  <label class="control-label" for="Birth Date">@Messages.get("profile.dob")</label>
			  <div class="controls">
			    <input name="dob" class="input-medium" id="Birth date" type="date" placeholder="@Messages.get("profile.yyyy")" value="@user.dob.format("yyyy-MM-dd")">			    
			  </div>
			</div>
			<br>
            <div class="control-group">
             <label class="control-label" for="current_al">@Messages.get("index.currentact")</label>
               <div class="controls">
                 <select name="current_al" class="input-medium" id="current_al">
	                 @for(level <- al){
	                 @if(level.description==user.current_al){<option selected>@level.description</option>}
	                 @if(level.description!=user.current_al){<option>@level.description</option>}               
	                }
              </select>
           </div>
        </div>

			<br>
			<br>
            <label class="control-label"></label>
              <button style="width:120px" class="btn btn-primary" type="submit">@Messages.get("profile.savechanges")</button>
              <span></span>
              <a href="/dashboard"><button style="width:120px" class="btn btn-default" >@Messages.get("profile.cancel")</button></a>
</div>
}
}

    

