@(form: Form[User], al:List[ActivityLevel])
@import play.i18n._


<html>
    <head>
        <title>@Messages.get("signup.title")</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/login.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
    </head>
    <body>
        	
	<div class="container" style="margin-top:40px">
		<div class="row">
			<div class="col-sm-6 col-md-4 col-md-offset-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<strong> @Messages.get("signup.signup")</strong>
									@if(form.hasGlobalErrors) {
					    <p style="color:red;" class="error">
					        @form.globalError.message
					    </p>
						}
						@if(flash.contains("success")) {
					    <p style="color:green;" class="success">
					        @flash.get("success")
					    </p>
						}
					</div>
					<div class="panel-body">
						@helper.form(routes.SignupController.createUser) {
							<fieldset>								
								<div class="row">
									<div class="col-sm-12 col-md-10  col-md-offset-1 ">
										<div class="form-group">
											<div class="input-group">
												<span class="input-group-addon">
													<i class="glyphicon glyphicon-envelope"></i>
												</span> 
												<input class="form-control" placeholder="@Messages.get("signup.email")" name="email" type="email" autofocus />
											</div>
										</div>										
										<div class="form-group">
											<div class="input-group">
												<span class="input-group-addon">
													<i class="glyphicon glyphicon-lock"></i>
												</span>
												<input class="form-control" placeholder="@Messages.get("signup.pass")" name="password"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" type="password" value="" required 
												onchange="form.re-enter password.pattern = this.value;" />
											</div>
										</div>
										<div class="form-group">
											<div class="input-group">
												<span class="input-group-addon">
													<i class="glyphicon glyphicon-lock"></i>
												</span>
												<input class="form-control" placeholder="@Messages.get("profile.repass")" name=" re-enter password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Please enter the same Password as above" type="password" value="" required />
											</div>
										</div>
									</div>
									
									<div class="col-sm-12 col-md-10  col-md-offset-1 ">
										<div class="form-group">
											<div class="input-group">
												<span class="input-group-addon">
													<i class="glyphicon glyphicon-user"></i>
												</span> 
												<input class="form-control" placeholder="@Messages.get("profile.fname")" name="name" type="text" autofocus required />
											</div>
										</div>										
										<div class="form-group">
											<div class="input-group">
												<span class="input-group-addon">
													<i class="glyphicon glyphicon-calendar"></i>
												</span>
												<input class="form-control" placeholder="@Messages.get("signup.dob")" name="dob" type="date" pattern="\d{4}-\d{1,2}-\d{1,2}" value="" required />
											</div>
										</div>
										<div class="form-group">
											<div class="input-group">
												<span class="input-group-addon">
													<i class="glyphicon glyphicon-text-height"></i>
												</span>
												<input class="form-control" placeholder="@Messages.get("profile.weight")" name="weight" type="text" value="" required />
											</div>
										</div>
										<div class="form-group">
											<div class="input-group">
												<span class="input-group-addon">
													<i class="glyphicon glyphicon-text-height"></i>
												</span>
												<input class="form-control" placeholder="@Messages.get("profile.height")" name="height" type="text" value="" required/>
											</div>
										</div>
										@Messages.get("profile.gender")<br>
										<div id="gender">
										<input type="radio" name="gender" value="male" checked="checked"/>@Messages.get("profile.male")<br />
                        				<input type="radio" name="gender" value="female" />@Messages.get("profile.female")<br />
										</div>
									</div>
									
								<div class="form-group">
								  <label class="control-label" for="current_al">Current ActivityLevel</label>
								  <div class="controls">
								    <select name="current_al" class="input-medium" id="current_al">
							    	@for(level <- al){
								      <option>@level.description</option>
								  		}
								    </select>
								  </div>
								</div>
								<!-- Select targeted activity level -->
								<div class="form-group">
								  <label class="control-label" for="target_al">Target ActivityLevel</label>
								  <div class="controls">
								    <select name="target_al" class="input-medium" id="target_al">
							    	@for(level <- al){
								      <option>@level.description</option>
								  		}
								    </select>
								  </div>
								</div>
										<div class="form-group">
											<input type="submit" class="btn btn-lg btn-primary btn-block" value="Create user" />
										</div>
									</div>
								</div>
							</fieldset>
						}
					</div>
					<div class="panel-footer ">
						Your user will be activated within a few seconds.
					</div>
                </div>
			</div>
		</div>
	</div>
    
    </body>
</html>

