@(user: User, surveys:List[Survey])
@import play.i18n._
@mainAdmin("Admin | Survey", user){

<!-- List of Surveys -->
<div class="panel panel-default">
	<div class="panel-heading">
		<h4><i class="fa fa-fw fa-bar-chart-o"></i> @Messages.get("survey.title") </h4>
	</div>
      <div class="table-responsive" style="padding:10px;">
        <table class="table-striped table-condensed table-hover col-md-12">
          <thead>
				<tr>
					<th>@Messages.get("survey.name")</th>
					<th>@Messages.get("survey.edit")</th>
					<th>@Messages.get("survey.delete")</th>
					<th>@Messages.get("survey.deploy")</th>
	
				</tr>
          </thead>          
          <tbody id="myTable">
          	@for(survey <- surveys){
					<tr>
						<td>@survey.name</td>
						<td><a href="/editSurvey/@survey.id"><input type="button" class="btn btn-default" value="@Messages.get("survey.edit")"></a></td>
						<td><input type="button" onclick="deleteSurvey(@survey.id)" class="btn btn-default" value="@Messages.get("survey.delete")"></td>
						<td><a href=""><input type="button" class="btn btn-default" value="@Messages.get("survey.deploy")"></a></td>
					</tr>
					}
          </tbody>
        </table>   
      </div>
	<div style="text-align:center;padding:10px">
	<a href="/createSurvey"><button style="width:200px;" class="btn btn-primary">@Messages.get("survey.creSurvey")</button></a>
	</div>
</div>

}