@(user: User, users: List[User], surveys:List[Survey])
@import play.i18n._
@mainAdmin("Admin | Survey", user){

<!-- List of Surveys -->

<div class="panel panel-default">
	<div class="panel-heading">
		<h4><i class="fa fa-fw fa-bar-chart-o"></i> @Messages.get("survey.title") </h4>
	</div>
      <div class="table-responsive" style="padding:10px;">
        <table class="table-striped table-condensed table-hover col-md-12">
          <thead>
				<tr>
					<th class="name col-md-3">@Messages.get("survey.name"):</th>
					<th class="edit col-md-3">@Messages.get("survey.edit"):</th>
					<th class="delete col-md-3">@Messages.get("survey.delete"):</th>
					<th class="deploy col-md-3" style="float:right;">@Messages.get("survey.deploy"):</th>
	
				</tr>
          </thead>          
          <tbody id="myTable">
          	@for(survey <- surveys){
					<tr>
						<td class="name col-md-3">@survey.name</td>
						<td class="edit col-md-3"><a href="/editSurvey/@survey.id"><input type="button" class="btn btn-default" value="@Messages.get("survey.edit")"></a></td>
						<td class="delete col-md-3"><input type="button" onclick="deleteSurvey(@survey.id)" class="btn btn-default" value="@Messages.get("survey.delete")"></td>
						<td class="deploy col-md-3" style="float:right;"><button type="button" onclick="setSurveyIdForDeployment(@survey.id)" class="btn btn-default" data-toggle="modal" data-target="#deploy">Deploy</button></td>
					</tr>
					}
          </tbody>
        </table>   
      </div>
      <hr>
	<div style="text-align:center;padding-bottom:15px">
	<a href="/createSurvey"><button style="width:200px;" class="btn btn-primary">@Messages.get("survey.creSurvey")</button></a>
	</div>
</div>

<!-- Deployment Modal -->

<div class="modal fade" id="deploy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
  
  <!-- Form to deploy a survey to a user -->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">@Messages.get("survey.dep")</h3>
      </div>
      <div class="modal-body">
      <h1>@Messages.get("survey.choose")</h1>
      		<input hidden type="text" id="formSurvey" value="0">
			<select id="formUser">
			   @for(u <- users){
			   <option value="@u.email">@u.email - @u.name</option>
			  }
			</select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">@Messages.get("survey.close")</button>
        <button type="button" onclick="deploySurvey()" type="submit" class="btn btn-primary">@Messages.get("survey.deploy")</button>
      </div>
    </div>
  </div>
</div>

}