@(user: User, userinfo: List[Userinformation], al: List[ActivityLevel], userinfoForm: Form[Userinformation])

@main(user,"User info") {

@helper.form(routes.UserActivityController.createUserInfo(user.email)){
<fieldset>

<!-- Form Name -->
<legend>User Information</legend>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="User Name">User Name</label>
  <div class="controls">
    <input name="name" class="input-medium" id="User Name" type="text" placeholder="Enter your name">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="Birth Date">Birth date</label>
  <div class="controls">
    <input name="dob" class="input-medium" id="Birth date" type="text" placeholder="DD/MM/YYYY">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="Height">Height(centimeter)</label>
  <div class="controls">
    <input name="height" class="input-medium" id="Height" required="" type="text" placeholder="">
    
  </div>
</div>


<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="weight">Weight(kgs)</label>
  <div class="controls">
    <input name="weight" class="input-medium" id="weight" required="" type="text" placeholder="Enter your weight">
    
  </div>
</div>

<!-- Button Drop Down -->
<div class="control-group">
  <label class="control-label" for="gender">Gender</label>
  <div class="controls">
    <select name="gender" class="input-medium" id="current_al">
      <option>male</option>
      <option>female</option>
  	</select>
  </div>
</div>

<!-- Select Basic -->
<div class="control-group">
  <label class="control-label" for="current_al">Current ActivityLevel</label>
  <div class="controls">
    <select name="current_al" class="input-medium" id="current_al">
    	@for(level <- al){
      <option>@level.description</option>
  		}
    </select>
  </div>
</div>
<!-- Select Basic -->
<div class="control-group">
  <label class="control-label" for="target_al">Target ActivityLevel</label>
  <div class="controls">
    <select name="target_al" class="input-medium" id="target_al">
    	@for(level <- al){
      <option>@level.description</option>
  		}
    </select>
  </div>
</div>
<input type="submit" value="Next">
</fieldset>

}

}