@(user: User, useractivities: List[UserActivity], activities: List[Activity], pedoForm: Form[UserSteps], uaForm: Form[UserActivity], stepCounter: Double)

@main(user, "Register Activities | PushMe", useractivities){

	<br><p style="font-weight:bold;">Total step count: <div style="color:red; font-size:2em;">@stepCounter</div></p>

	<h3>Register your steps here</h3>
	@helper.form(routes.UserActivityController.addSteps()){
	<input type="hidden" name="date" class="date" style="height:30px;" />
	<input type ="text" name="steps" style="height:30px;" placeholder="Steps"/>
	<input type="submit" value="Add" style="height:30px;" />
	}

	<h3>Register your activities here</h3>
	<table class="table-striped table-condensed table-hover">
		<tr>
	  		<th></th>
	    	<th>Activity</th>
	    	<th>Minutes</th>
	    	<th>Intensity</th>
	    	<th>Update</th>
	  	</tr>
	    @for(a <- activities) {
	   	@helper.form(routes.UserActivityController.createUserActivity(a.name)) {
	    	<tr>
	    		<td><input class="date" name="date" type="hidden" style="width:120px" /></td>
	    		<td>@a.name</td>
	    		<td><input type="text" name="steps" value="" placeholder="Lenght of activity" style="width:100px"/></td>
	    		<td>
	    		@if(a.low_intensity==0) {
				  <input type="hidden" name="intensity" value="2"/><label>@a.medium_intensity</label> steps/min
				} else {
				  <input type="range" min="1" max="3" name="intensity" style="width:100px"/>
				}
				</td>
	    		<td style="border: none;"><input type="submit" name="register activity" value="Update" style=" height: 40px;"></td>
	    	</tr>
	    }}
	</table>

}